<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div id="firstChart" style="width:100%; height:400px;"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div id="secondChart" style="width:100%; height:400px;"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div id="thirdChart" style="width:100%; height:400px;"></div>
    </div>
  </div>
</div>